# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Datos\academy-api-exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
